h3 {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 156, 42);
    border: 3px solid rgb(92, 0, 0);
  }

  h1 {
    color: rgb(255, 0, 0);
    -webkit-text-stroke: 1px rgb(92, 0, 0);
    font-size: 40px;
    margin: 15px;
  }

  a {
    color: rgb(0, 162, 255);
  }

  .uno {
    list-style: square;
  }

  .link {
    font-weight: bold;
  }

  .volver {
    text-decoration: underline overline;
  }

  .espacio {
    padding-bottom: 10px;
  }

  .cocina {
    width: 800px;
    border: 2px solid rgb(255, 224, 123);
    }

    div.a {
      height: auto;
      border: 1px solid black;
    }

  h5 { 
    padding-top: 175px;
    height: 20px;
    border: 1px solid rgb(255, 224, 123);  
  }

  h4 p {
    color: rgb(209, 125, 0);
    font-size: 20px;
  }
